@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Zen+Kaku+Gothic+New:wght@300&display=swap");
* h2 {
  margin-top: 0px;
  margin-bottom: 0px !important;
}
* a {
  text-decoration: none !important;
}
* p {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}
* .row {
  --bs-gutter-x:0px!important;
}
* ul {
  padding-left: 0px !important;
}

body {
  background-color: #EDEEE0 !important;
}

.texto-1 {
  font-size: 4rem;
  font-family: "Lora", serif;
}

.texto-2 {
  font-size: 3rem;
  font-family: "Lora", serif;
  text-align: center;
}

.texto-3 {
  font-size: 1.2rem;
  font-family: "Zen Kaku Gothic New", sans-serif;
}

.texto-4 {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 1rem;
}

.bold-texto {
  font-weight: bolder;
}

.color-texto-1 {
  color: #617C72;
}

.color-texto-2 {
  color: #666;
}

.color-texto-3 {
  color: #C2797B;
}

.hover-boton {
  transition: all 0.7s;
}

.hover-boton:hover {
  transform: scale(1.1);
}

@font-face {
  font-family: "Balivia";
  src: url("../fonts/Balivia (1).ttf") format("ttf");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "CodeSaver";
  src: url("../fonts/CodeSaver-Regular (1).otf") format("otf");
  font-style: normal;
  font-weight: 300;
}
.mobile {
  display: none;
}

header {
  background-color: #71978B;
}
header .logo {
  padding: 20px;
}
header nav div div {
  padding-top: 24px;
}
header nav div {
  display: flex;
  justify-content: center;
  width: 100%;
}
header nav div .contenedor-navbarr {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}
header nav div .contenedor-navbarr .items-navbarr {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-top: 20px;
}
header nav div .contenedor-navbarr .items-navbarr .item-navbarr a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 200px;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  border-radius: 6px !important;
}

.item-navbarr {
  width: 180px;
  display: flex;
  justify-content: center;
}

.contenedor-carrusel {
  display: flex;
  justify-content: center;
  width: 935px;
  margin: 0px auto;
  margin-top: 30px;
}

.contenido-carrusel {
  position: absolute;
  left: 10%;
  bottom: 30%;
  margin-top: 10%;
  padding-bottom: 30px;
  text-align: start;
  width: 80%;
}

.imgSlide {
  height: 530px;
  width: 1170px;
}

.carousel-indicators [data-bs-target] {
  background-color: #F2979A !important;
}

#serviciosHome {
  margin-top: 5em;
  margin-bottom: 6em;
}
#serviciosHome .servicios-titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 60px;
  margin: 10px auto;
  background-color: #F2979A;
  text-align: center;
  color: #ffffff;
}
#serviciosHome div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#serviciosHome div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#serviciosHome div div .contenedor-items-servicios-color {
  background-color: #F2979A;
  margin: 20px;
  height: 27em;
  width: 28em;
  position: relative;
}
#serviciosHome div div .contenedor-items-servicios-color .titulo-item-servicios {
  position: absolute;
  top: 40px;
  left: 70px;
  color: #ffffff;
  font-family: "Balivia";
  z-index: 100;
  text-align: left;
}
#serviciosHome div div .contenedor-items-servicios-color .titulo-item-servicios .bg-color-1 {
  background-color: #F2979A;
  text-align: left;
  margin-right: auto;
}
#serviciosHome div div .contenedor-items-servicios-color .contenedor-item-servicios {
  padding: 0px 5% 0px 20%;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 338px;
}
#serviciosHome div div .contenedor-items-servicios-color .contenedor-item-servicios img {
  height: auto;
  width: auto;
}
#serviciosHome div div .contenedor-items-servicios-color .contenedor-item-servicios .contenedor-descripcion-servicios {
  display: flex;
  justify-content: start;
  font-family: "Balivia";
  color: white;
  margin-top: 3%;
  margin-bottom: 2%;
}
#serviciosHome div div .contenedor-items-servicios-color .contenedor-item-servicios .contenedor-boton {
  margin-top: 32px;
}
#serviciosHome div div .contenedor-items-servicios-color .contenedor-item-servicios .ver-mas-item-servicios {
  width: 120px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
}
#serviciosHome div div .contenedor-items-servicios-color .contenedor-item-servicios .ver-mas-item-servicios a {
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
}

.contenedor-boton {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

#marcasHome {
  background-color: #71978B;
  padding-bottom: 20px;
}
#marcasHome .titulo-marcas {
  padding: 20px;
  color: #edeee0;
  text-align: center;
}
#marcasHome div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#marcasHome div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#marcasHome div div .position {
  margin: 0px 36px;
  width: 21em;
}
#marcasHome div div .position img {
  height: 225px;
  width: 323px;
  margin-top: 26px;
}
#marcasHome div div .position p {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 1rem;
  color: white;
  padding: 10px 0em;
}

#testimonios {
  margin-top: 4rem;
  position: relative;
}
#testimonios .subtituloServicios {
  margin: 0 auto;
  text-align: center;
  padding-top: 27px;
  color: #617C72;
}
#testimonios .posicion-ramas-1 {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -10;
}
#testimonios .posicion-ramas-2 {
  position: absolute;
  left: 0px;
  z-index: -9;
}
#testimonios div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#testimonios div div .position {
  margin: 20px;
  width: 31em;
}
#testimonios div div .position img {
  height: 100px;
  width: 100px;
}
#testimonios div div .position .texto-testimonios {
  display: flex;
  flex-direction: column;
}
#testimonios div div .position .texto-testimonios p {
  padding: 1em 1em;
}

.presupuestoHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 6em 13em;
}
.presupuestoHome div {
  display: flex;
}
.presupuestoHome div p {
  color: #71978B;
  width: 90%;
}
.presupuestoHome div .boton-solicitar {
  margin: auto auto auto 10px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #617C72;
  border-radius: 1px;
  width: 150px;
  height: 40px;
}

.iconosRedes {
  display: flex;
  justify-content: center;
}
.iconosRedes div {
  margin: 0px 15px;
}
.iconosRedes .redesMobile {
  transform: scale(1.1);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px auto 3rem auto;
}
footer section {
  width: 400px;
}
footer section nav {
  margin-top: 3%;
}
footer section nav ol li a {
  color: dimgrey;
  text-decoration: none;
  font-size: 16px;
}
footer section {
  width: 400px;
}
footer section div {
  height: 45px;
  display: flex;
  justify-content: end;
  align-items: center;
}
footer section div p {
  text-align: center;
  width: 338px;
  color: dimgrey;
  font-size: 16px;
  font-family: var(--bs-body-font-family);
}
footer .derechos {
  text-align: end;
}

#contacto div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4em;
}
#contacto div div p {
  color: #666;
}

#ubicacion {
  width: 935px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#ubicacion .subtitulosContactos {
  padding: 50px 0px;
  text-align: center;
  width: 400px;
  margin: 0px auto;
}
#ubicacion section iframe {
  width: 100%;
  margin: 6px auto;
}

.centrado {
  width: 935px;
  height: 760px;
  margin: 20px auto 0px auto;
  background-image: url("../images/Mask Group.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 2%;
}

.contenedor-info-quiensoy {
  width: 100%;
  padding-left: 2%;
}

.ajuste-titulo-quiensoy {
  width: 80%;
  padding-top: 5%;
}

.contenedor-p-info-quiensoy {
  width: 50%;
}

.seccion-muestra-tabajo {
  position: relative;
  margin-top: 20px;
  background-color: #F2979A;
  width: 100%;
  height: 485px;
}
.seccion-muestra-tabajo .ramas-claras-sec-trabajo {
  position: absolute;
}
.seccion-muestra-tabajo .ramas-claras-sec-trabajo img {
  width: 250px;
}
.seccion-muestra-tabajo .titulo-muestra-trabajo {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 900px;
  top: 88px;
  z-index: 100;
}
.seccion-muestra-tabajo .titulo-muestra-trabajo .bg-titulo-muestra {
  margin: 13px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 400px;
  height: 100px;
  background-color: #EDEEE0;
}
.seccion-muestra-tabajo .titulo-muestra-trabajo .texto-pequeño-muestra {
  margin: 13px;
  color: #ffffff;
}
.seccion-muestra-tabajo .contenedor-carrusel-muestras-trabajo {
  display: flex;
  align-items: center;
  position: absolute;
  right: -5px;
  top: 16px;
  width: 1000px;
  height: 450px;
}

.bg-servicio-community {
  background-image: url("../images/communitymanagerPortada.jpg");
}

.bg-servicio-diseño {
  background-image: url("../images/diseñograficoPortada.jpg");
}

.contenedor-encabezado-servicio {
  margin: 20px auto;
  width: 1170px;
  height: 432px;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.contenedor-encabezado-servicio .contenedor-texto-servicio {
  width: 45%;
  margin-left: 10%;
}

.seccion-packs-servicios {
  background-color: #F2979A;
  width: 100%;
  /* height: auto; */
  margin-top: 100px;
  margin-bottom: 80px;
  height: 480px;
}
.seccion-packs-servicios .contenedor-titulo-packs {
  padding: 50px 0px 30px 0px;
}
.seccion-packs-servicios .contenedor-titulo-packs .titulo-seccion-packs {
  color: #ffffff;
  padding: 50px auto;
}
.seccion-packs-servicios .contenedor-all-items-packs {
  display: flex;
  justify-content: space-around;
  width: 1170px;
  margin: 0px auto;
}
.seccion-packs-servicios .contenedor-all-items-packs .contenedor-item-packs {
  position: relative;
}
.seccion-packs-servicios .contenedor-all-items-packs .contenedor-item-packs .contenedor-titulos-packs {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40px;
}
.seccion-packs-servicios .contenedor-all-items-packs .contenedor-item-packs .contenedor-titulos-packs .titulo-item-pack {
  margin-right: auto;
  padding-left: 30px;
  background-color: #EDEEE0;
  color: #617C72;
}
.seccion-packs-servicios .contenedor-all-items-packs .contenedor-item-packs .info-desplegable {
  display: none;
}
.seccion-packs-servicios .contenedor-all-items-packs .contenedor-item-packs .boton-desplegable {
  display: none;
}
.seccion-packs-servicios .seccion-boton-te-ofrecemos {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
  font-weight: bold;
}
.seccion-packs-servicios .seccion-boton-te-ofrecemos .boton-te-ofrecemos {
  padding: 10px 40px;
  border: solid 2px #EDEEE0;
  border-radius: 3px;
  color: #EDEEE0;
}

.tamaño-seccion-diseño {
  height: 530px;
}

.hover-packs-servicios:hover {
  animation: extencion-info-packs 1.5s;
  height: 900px;
}
.hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable {
  background-color: #F9DD94;
  display: block;
  padding: 40px 20px;
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.1), -5px 5px 20px 0 rgba(0, 0, 0, 0.1);
  animation: fade-in 2s;
}
.hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable ul {
  padding-left: 40px !important;
}
.hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable ul li {
  color: #617C72;
}
.hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable .texto-desplegable {
  margin-bottom: 30px;
  color: #617C72;
}
.hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable .boton-desplegable {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  color: #617C72;
  border: solid 2px #617C72;
  border-radius: 6px;
  margin-left: 170px;
}
.hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable .boton-desplegable a {
  width: 100%;
  text-align: center;
  color: #617C72;
  text-decoration: none;
  padding: 5px 10px;
}
.hover-packs-servicios:hover .contenedor-all-items-packs .contenedor-item-packs .info-desplegable .ver-mas-item-servicios {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes extencion-info-packs {
  0% {
    height: 480px;
  }
  100% {
    height: 900px;
  }
}

.contenedor-mis-servicios {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.contenedor-mis-servicios .contenedor-titulo-principal-servicios {
  display: flex;
  justify-content: center;
}
.contenedor-mis-servicios .contenedor-titulo-principal-servicios .titulo-principal-servicios {
  text-align: center;
}
.contenedor-mis-servicios .contenedor-de-servicios {
  display: flex;
}
.contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio {
  width: 570px;
  height: 646px;
  background-color: #F2979A;
  margin: 50px 20px;
  position: relative;
}
.contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio .contenedor-titulo-servicio {
  position: absolute;
  top: 70px;
  width: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio .contenedor-titulo-servicio .titulo-servicio-color {
  background-color: #EDEEE0;
  color: #F2979A;
  padding-left: 50px;
  margin-right: auto;
}
.contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio .contenedor-img-servicio .img-servicio {
  width: 100%;
  height: 380px;
}
.contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio .contenedor-descripcion-servicio {
  height: auto;
  color: #ffffff;
  padding: 5% 13%;
  display: flex;
  flex-direction: column;
}
.contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio .contenedor-descripcion-servicio .contenedor-texto-servicio {
  height: 170px;
}
.contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio .contenedor-descripcion-servicio .ver-mas-item-servicios {
  width: 130px;
  height: 40px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-mis-servicios .contenedor-de-servicios .contenedor-servicio .contenedor-descripcion-servicio .ver-mas-item-servicios a {
  width: 100%;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 10px;
}

.contacto {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.contacto .contenedor-item-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0px;
}
.contacto .contenedor-item-contacto .subtitulo-contacto {
  text-align: center;
}
.contacto .img-ramas-contacto-1 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.contacto .img-ramas-contacto-2 {
  position: absolute;
  top: 200px;
  left: 0px;
}

.mapa-contacto {
  margin-top: 20px;
}

.footer-contacto {
  margin-top: 100px;
}

.botonWhatsApp {
  position: fixed;
  bottom: 20px;
  right: 30px;
}

@media only screen and (max-width: 1200px) {
  #serviciosHome section #subtituloServicios {
    position: absolute;
    left: 10em;
  }
}
@media only screen and (max-width: 412px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
    font-family: "Balivia";
  }

  .imgSlide {
    height: 256px;
    width: 359px;
  }

  #serviciosHome {
    margin-top: 0em;
  }
  #serviciosHome #serviciosTitulo {
    display: none;
  }
  #serviciosHome div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #serviciosHome div div .position {
    width: 21em;
    margin: 36px;
    height: 28em;
  }
  #serviciosHome div div .position img {
    height: 198px;
    width: 308px;
    padding-left: 2em;
  }
  #serviciosHome div div .position p {
    padding: 1em 2em;
    font-size: 19px;
    height: 141px;
  }
  #serviciosHome div div .position h2 {
    left: 26px;
    top: 74px;
  }
  #serviciosHome div div .position .card-body {
    width: 92px !important;
    height: 13px !important;
    color: #ffffff !important;
    border: 2px solid #ffffff !important;
    border-radius: 6px;
    margin: 24px 31px;
  }

  #marcasHome div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #marcasHome div div .position {
    width: 19em;
    margin: 19px 51px;
  }
  #marcasHome div div .position p {
    font-size: 19px;
  }
  #marcasHome div div .position img {
    height: 225px;
    width: 299px;
    margin-top: -1px;
  }

  #testimonios {
    margin: 4em 0em;
  }
  #testimonios #subtituloServicios {
    margin: 0px 108px;
  }
  #testimonios div {
    display: flex;
    flex-direction: column;
  }
  #testimonios div div .position {
    margin: 20px;
    width: 20em;
  }
  #testimonios div div .position p {
    padding: 0em 1em;
  }

  .florMobile {
    height: 7em;
  }

  #presupuestoHome {
    display: flex;
    flex-direction: column;
    margin: 120px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer section {
    margin: 31px 0px;
    width: 412px;
  }
  footer section div {
    width: 10em;
  }
  footer section div p {
    font-size: 19px;
    margin: 11px 33px;
  }

  footer section nav ol li a {
    display: none;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    display: none;
  }

  .iconosRedes {
    width: 412px;
    padding: 0px 125px;
    display: flex;
    flex-direction: row;
  }
  .iconosRedes div {
    width: 340px;
  }

  .redesMobile {
    height: 77px;
  }

  #ubicacion {
    display: none;
  }

  .mobile {
    display: block;
  }
  .mobile p {
    color: #666;
    margin: 6px;
  }

  main {
    position: relative;
  }
  main img {
    width: 412px;
    height: 230px;
  }
  main section {
    position: absolute;
    top: 1em;
    left: 1em;
  }
  main section p {
    display: none;
  }

  #diseñoGraficoyCommunity {
    height: 56em;
    margin-top: 5em;
    background-color: #F2979A;
  }
  #diseñoGraficoyCommunity #subtituloServicios {
    text-align: center;
    color: #edeee0;
  }
  #diseñoGraficoyCommunity div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #diseñoGraficoyCommunity div div {
    margin: 0px 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #diseñoGraficoyCommunity div div .position {
    position: relative;
    margin: 0px 14px;
    width: 21em;
  }
  #diseñoGraficoyCommunity div div .position img {
    height: 225px;
    width: 323px;
    margin-top: 26px;
  }
  #diseñoGraficoyCommunity div div .position .subtitulosServicios {
    position: absolute;
    left: 0em;
    top: 1em;
    text-align: center;
    color: #71978B;
    background-color: #edeee0;
  }
  #diseñoGraficoyCommunity section div .botonPresupuesto {
    text-decoration: none;
    width: 207px !important;
    height: 38px !important;
    color: #71978B !important;
    border: 1px solid #71978B !important;
    border-radius: 5px;
    margin: 15px 78px;
    padding: 4px;
  }

  .subtitulosContactos {
    margin: 2em 2em;
    padding-top: 48px;
  }

  .footerMarginxFlor {
    margin-top: 6em;
  }
}
@media only screen and (max-width: 360px) {
  #serviciosHome div div .position {
    margin: 13px;
  }

  main {
    position: relative;
  }
  main img {
    width: 360px;
    height: 230px;
  }

  footer section {
    margin: 31px 11px;
    width: 339px;
  }
  footer section div p {
    margin: 11px 0px;
  }

  .iconosRedes {
    width: 360px;
    padding: 0px 99px;
  }

  #marcasHome div div .position {
    margin: 13px 36px;
  }

  #diseñoGraficoyCommunity div div .position {
    margin: 0px -17px;
  }

  #contacto div {
    width: 360px;
    margin: 3em 0em;
  }

  .subtitulosContactos {
    margin: 2em 1em;
    padding-top: 48px;
  }

  .footerMarginxFlor {
    margin-top: 6em;
  }
}

/*# sourceMappingURL=estilocss.css.map */
