*{
    
    h2{
        margin-top: 0px;
        margin-bottom: 0px !important;
    }
    a{
        text-decoration: none !important;
    
    }
    p{
        margin-bottom: 0px !important;
        margin-top: 0px!important;
    }
    .row{
        --bs-gutter-x:0px!important;
    }
    ul{
        padding-left: 0px!important;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Zen+Kaku+Gothic+New:wght@300&display=swap');


// ESTILOS GENERALES/////////////////
body{
    background-color: #EDEEE0 !important;
}



.texto-1{
    font-size: 4rem;
    font-family: 'Lora', serif;
    
}


.texto-2{
    font-size: 3rem;
    font-family: 'Lora', serif;
    text-align: center;          
}


.texto-3{
    font-size: 1.2rem;
    font-family: 'Zen Kaku Gothic New', sans-serif;
    
     
}

.texto-4{
    font-family: 'Zen Kaku Gothic New', sans-serif;
    
    font-size: 1rem;
}

.bold-texto{
    font-weight: bolder
}
.color-texto-1{
    color: #617C72;
}
.color-texto-2{
    color: #666;
}
.color-texto-3{
    color: #C2797B;
}

.hover-boton{
    transition: all 0.7s;
}
.hover-boton:hover{
    transform: scale(1.1);
}
@font-face {
    font-family: 'Balivia';
    src: url('../fonts/Balivia\ \(1\).ttf') format("ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'CodeSaver';
    src: url('../fonts/CodeSaver-Regular\ \(1\).otf') format('otf');
    font-style: normal;
    font-weight: 300;
}

.mobile{
    display: none;
}

///////////////////////////////////HeaderHome

header {
    background-color: #71978B;

    .logo{
        padding: 20px;
    }

    nav{
        
        div{
            div{                
                padding-top: 24px;                
            }
        }
        div{
            display: flex;
            justify-content: center;
            width: 100%;
            .contenedor-navbarr{
                width: 100%;
                display: flex;
                justify-content: center;
                padding-bottom: 30px;
                .items-navbarr{
                    display: flex;
                    width: 70%;
                    justify-content: space-between;
                    margin-top: 20px;
                    
                    .item-navbarr{
                        
                        a{ 
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 55px;
                            width: 200px;
                            color: #ffffff !important;                          
                            border: 1px solid #ffffff !important;
                            border-radius: 6px !important; 

                        }
                    }
                }
            }
        }
    }
}                                                                                                 


.item-navbarr{
    width: 180px;
    display: flex;
    justify-content: center;
}
// del main, carrusel de boots
// 

.contenedor-carrusel{
    display: flex;
    justify-content: center;
    width: 935px;
    margin: 0px auto;
    margin-top: 30px;
}

.contenido-carrusel{
    position: absolute;
    left:10%;
    bottom: 30%;
    margin-top: 10%;
    padding-bottom: 30px;
    text-align: start;
    width: 80%;
}


.imgSlide{

    height: 530px;
    width: 1170px;
}

.carousel-indicators [data-bs-target] {
    //son las rayas del slider. no logro cambiarlas a circulos. vi q rosa quedo medio feo y probe gris
    background-color: #F2979A !important;
}

///////////////////////bloqueServicios

#serviciosHome{
    margin-top: 5em;   
    margin-bottom: 6em;
        .servicios-titulo{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 350px;
            height: 60px;
            margin: 10px auto;
            background-color: #F2979A;     
            text-align: center;   
            color: #ffffff;
        }
  
    

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        div{

            display: flex;
            flex-direction: column;
            justify-content: center;

            .contenedor-items-servicios-color{
                background-color: #F2979A;
                margin: 20px; //meti margin para separar los dos div//
                height: 27em;
                width: 28em;  
                position: relative;
                

                .titulo-item-servicios{
                    position: absolute;
                    top: 40px;
                    left: 70px;
                    color: #ffffff;
                    
                    font-family: 'Balivia';
                    z-index: 100;
                    text-align: left;
                    
                    .bg-color-1{
                        background-color: #F2979A;
                        text-align: left;
                        margin-right: auto;
                    }
                }

                .contenedor-item-servicios{
                    padding: 0px 5% 0px 20%;
                    justify-content: space-between;
                    display: flex;
                    flex-direction: column;
                    height: 338px;
                    
                    img {
                        height: auto;
                        width: auto;    
                    }
   
                    .contenedor-descripcion-servicios{
                        display: flex;
                        justify-content: start;
                        font-family: 'Balivia';
                        color: white;
                        margin-top: 3%;
                        margin-bottom: 2%;
                    }
                    
                    .contenedor-boton{
                        margin-top: 32px;
                    }
                    .ver-mas-item-servicios{
                        
                        width: 120px;
                        color: #ffffff ;
                        border: 2px solid #ffffff;
                        border-radius: 4px ;
                        
                        a{
                            text-align: center;
                            color: #ffffff;
                            text-decoration: none;
                            padding: 5px 10px;
                            
                        }
                            
                             
                            
                        
                    }
                    
                }
                

              
            }
            
           

        }
    }       
    
}

.contenedor-boton{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}
///////////////////////bloqueMarcas
#marcasHome{  
    background-color: #71978B;
    padding-bottom: 20px;
    .titulo-marcas{
        
        padding: 20px;   
        color: #edeee0;
        text-align: center;        
        
    }
    

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        div{

            display: flex;
            flex-direction: column;
            justify-content: center;

            .position {
                
                margin: 0px 36px;//meti margin para separar los dos div//              
                width: 21em;
                

                img {
                    height: 225px;
                    width: 323px;
                    margin-top: 26px;
                }

              

                p {
                    font-family: 'Zen Kaku Gothic New', sans-serif;
                    font-size: 1rem;
                    color: white;
                    padding: 10px 0em;

                }
            }
            
           

        }
    }       
    
}
///////////////////////bloqueTestimonios
#testimonios{         
    margin-top: 4rem;
    position: relative;
    .subtituloServicios{
       margin: 0 auto;
        text-align: center;        
        padding-top: 27px;          
        color:#617C72;
    }
    
    .posicion-ramas-1{
        position: absolute;
        top: 0px;
        right: 0px;
        z-index: -10;
    }

    .posicion-ramas-2{
        position: absolute;
        left: 0px;
        z-index: -9;
    }

    div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        div{

           
            .position {
                
                margin: 20px; //meti margin para separar los dos div//
                width: 31em;
                

                img {
                    height: 100px;
                    width: 100px;
                    
                }

              
                .texto-testimonios{
                    display: flex;
                    flex-direction: column;
                    p{
                        
                        padding: 1em 1em;

                    }
                }        
            }
                   
        
        }
    }          
}
///////////////////////bloquePresupuesto
.presupuestoHome{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 6em 13em;

    div{
        display: flex;
    
        p{
            color: #71978B;
            width: 90%;
        }
    
        .boton-solicitar{
            margin: auto auto auto 10px;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: center;
            color: white;
            background-color:#617C72;
            border-radius: 1px;
            width: 150px;
            height: 40px;
            
        }
    }
    
}

.iconosRedes{
    
    display: flex;
    justify-content: center;
    
    div{
    margin: 0px 15px;
    }

    .redesMobile{
        transform: scale(1.1);
    }
}

///////Footer

footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0px auto 3rem auto;
    
    section{
               
        
        width: 400px;
        
        nav{
            margin-top: 3%;
            ol{
                
                li{
                    a{
                        color: dimgrey; text-decoration: none; font-size: 16px;
                    }
                }
            }

        }
    }     
    
    
   

    section{
        
        width: 400px;
        div{
            height: 45px;
            display: flex;
            justify-content: end;
            align-items: center;
            p{
                text-align: center;
                width: 338px;
                color: dimgrey;
                font-size: 16px; 
                font-family: var(--bs-body-font-family);
            }
        }
    }

    .derechos{
        text-align: end;
    }


}

///////////contactoPag

#contacto{
    div{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 4em;
        div{
            p{
                color: #666;
            }
        }
    }
}

#ubicacion{
    width: 935px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .subtitulosContactos{
        padding:50px 0px;
        text-align: center;
        width:400px;
        margin: 0px auto;
    }

    section{
        
        iframe{
            width: 100%;
            margin: 6px auto;
        }
    }

}




//////////main de quiensoyPag, diseño grafico pag y community pag
.centrado{
    width: 935px;
    height: 760px;
    margin: 20px auto 0px auto;
    background-image: url('../images/Mask Group.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 2%;
}
  
.contenedor-info-quiensoy{
    width: 100%;
    padding-left: 2%;
}
.ajuste-titulo-quiensoy{
    width: 80%;
    padding-top: 5%;
    
}  
.contenedor-p-info-quiensoy{
    width: 50%;
}



//////////Mis Trabajos
.seccion-muestra-tabajo{
    position: relative;
    margin-top: 20px;
    background-color: #F2979A;
    width: 100%;
    height: 485px;

    .ramas-claras-sec-trabajo{
        position: absolute;
        
        img{
            width: 250px;
        }
    }

    .titulo-muestra-trabajo{
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 900px;
        top: 88px;
        z-index: 100;
        .bg-titulo-muestra{
            margin: 13px;
            display: flex;
            align-items: center;
            padding-left: 20px;
            width: 400px;
            height: 100px;
            background-color: #EDEEE0;

        }

        .texto-pequeño-muestra{
            margin: 13px;
            color: #ffffff;
            
        }  
    }

    .contenedor-carrusel-muestras-trabajo{
        display: flex;
        align-items: center;
        position: absolute;
        right: -5px;
        top: 16px;
        width: 1000px;
        height: 450px;

    }
     
}

//////////Community manager y diseño grafico

.bg-servicio-community{
    background-image: url('../images/communitymanagerPortada.jpg');
}

.bg-servicio-diseño{
    background-image: url('../images/diseñograficoPortada.jpg');
}
.contenedor-encabezado-servicio{
    margin: 20px auto;
    width: 1170px;
    height: 432px;
    
    background-size: contain;
    background-repeat: no-repeat;

    display: flex;
    justify-content:center;
    align-items: start;
    flex-direction: column;

    .contenedor-texto-servicio{
        width: 45%;
        margin-left: 10%;
    }
}

.seccion-packs-servicios{
    background-color: #F2979A;
    width: 100%;
    /* height: auto; */
    margin-top: 100px;
    margin-bottom: 80px;
    height: 480px;
    .contenedor-titulo-packs{
        padding: 50px 0px 30px 0px;
        .titulo-seccion-packs{
            color:#ffffff;
            padding: 50px auto ;
        }
    }
    

    .contenedor-all-items-packs{
        display: flex;
        justify-content: space-around;
        width: 1170px;
        margin: 0px auto;
        
        .contenedor-item-packs{
            position: relative;
            
            .contenedor-titulos-packs{
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 40px;

                .titulo-item-pack{
                    margin-right: auto;
                    padding-left: 30px;
                    background-color: #EDEEE0;
                    color: #617C72;
                }
            }
            
            .info-desplegable{
                display: none;
            }
            
            .boton-desplegable{
                display: none;
            }
        }
    }

    .seccion-boton-te-ofrecemos{
        display: flex;
        justify-content: center;
        padding: 50px 0px;
        font-weight: bold;
        
        .boton-te-ofrecemos{
            padding: 10px 40px;
            border: solid 2px #EDEEE0;
            border-radius: 3px;
            color: #EDEEE0;
        }
    }

    
    
}
.tamaño-seccion-diseño{
    height: 530px;
}

.hover-packs-servicios:hover{
    animation: extencion-info-packs 1.5s;
    height: 900px;

    .contenedor-all-items-packs .contenedor-item-packs{

        .info-desplegable{
            background-color: #F9DD94;
            display: block;
            padding: 40px 20px;
            box-shadow: 5px 5px 20px 0 rgb(0 0 0 / 10%),  
            -5px 5px 20px 0 rgb(0 0 0 / 10%);
            animation: fade-in 2s;

            ul{
                padding-left: 40px !important;
                li{
                    color: #617C72;
                }
            } 

            .texto-desplegable{
                margin-bottom: 30px;
                color: #617C72;
            }

            .boton-desplegable{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 150px;
                height: 30px;
                color: #617C72;
                border: solid 2px #617C72;
                border-radius: 6px;
                margin-left: 170px;
                
                a{
                    width: 100%;
                    text-align: center;
                    color: #617C72;
                    text-decoration: none;
                    padding: 5px 10px;
                }   
                
                
            }

            .ver-mas-item-servicios{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 130px;
                height: 40px;
                color: #ffffff ;
                border: 2px solid #ffffff;
                border-radius: 4px ;
                
                
                
                  
                
            }
        }

        @keyframes fade-in {
            0%{
                opacity: 0;
            }
            55%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }
        
        
    }
    

    @keyframes extencion-info-packs {
        0%{
            height: 480px;
        }
        
        100%{
            height: 900px;
        }
        
    }
}




//////////Mis Servicios
.contenedor-mis-servicios{
    display: flex;
    align-items: center;
    flex-direction: column;
    .contenedor-titulo-principal-servicios{
        display: flex;
        justify-content: center;
        .titulo-principal-servicios{
            text-align: center;
        }
    }
    .contenedor-de-servicios{
        display: flex;
        
        .contenedor-servicio{
            width: 570px;
            height: 646px;
            background-color: #F2979A;
            margin: 50px 20px;
            position: relative;

            .contenedor-titulo-servicio{
                position: absolute;
                top: 70px;
                width: auto;
                margin-right: auto;
                display: flex;
                flex-direction: column;

                .titulo-servicio-color{
                    background-color: #EDEEE0;
                    color:#F2979A;
                    padding-left: 50px;
                    margin-right: auto;
                }
            }
            .contenedor-img-servicio{
                
                .img-servicio{
                    width: 100%;
                    height: 380px;
                }
            }

            .contenedor-descripcion-servicio{
                height: auto;
                color: #ffffff;
                padding: 5% 13%;
                display: flex;
                flex-direction: column;
                
                .contenedor-texto-servicio{
                    height:170px;
                }
                .ver-mas-item-servicios{
                    width: 130px;
                    height: 40px;
                    color: #ffffff ;
                    border: 2px solid #ffffff;
                    border-radius: 4px ;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    
                    a{
                        width: 100%;
                        text-align: center;
                            color: #ffffff;
                            text-decoration: none;
                            padding: 5px 10px;
                    }     
                    
                }
            }
        }
    }
    
}


//////////Contacto

.contacto{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    .contenedor-item-contacto{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 40px 0px;
        .subtitulo-contacto{
            text-align: center;

        }
        
        
    }

    .img-ramas-contacto-1{
        position: absolute;
        bottom: 0px;
        right: 0px;
    }
    .img-ramas-contacto-2{
        position: absolute;
        top: 200px;
        left: 0px;
    }
}

.mapa-contacto{
    margin-top: 20px;
}
.footer-contacto{
    margin-top: 100px;
}


//////////botonwats

.botonWhatsApp {
    position: fixed;
    bottom: 20px;
    right: 30px ;

}



@import "responsive";
